<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>You've Received an Invitation!</h1>
    </header>
    

    <article>
        <div id="form_div">
            <form id="form" method="POST" action="/invitation" novalidate>
                <h3 class="form_heading"></h3><br>
                Greeting:<br>
                <input type="text" name="greeting" id="greeting" cols="30" val="" /><br>
                Choose the occasion:<br>
                <select id="occasion" name="occasion"><br>
                    <h3>Please RSVP below:</h3>
                    <option value="birthday">Birthday</option>
                    <option value="party">Party</option>
                    <option value="wedding">Wedding</option><br>
                </select><br>
                <label for="message">Your message:</label><br>
                <textarea type="text" id="message" name="message" cols="30" rows="4"></textarea><br>
                <input type="submit" value="SUBMIT" id="submitButtonForm" class="btn btn-outline-light btn-lg">
            </form>
        </div>


    </article>
    <footer>
        <h3>Background Photo by Adi Goldstein on Unsplash</h3>
    </footer>

    <script src="javascripts\receiver.js">    </script>
</body>

</html>