<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h3>Hello World</h3>

    <form method="POST" action="/invitation" novalidate>
        Greeting:<br>
        <input type="text" name="greeting"/><br>
        Choose the occasion:<br>
        <label for="birthday">Birthday</label>
        <input type="radio" name="occasion1" id="birthday" value='birthday' checked><br>
        <label for="party">Party</label>
        <input type="radio" name="occasion1" id="party" value="party"><br>
        <label for="wedding">Wedding</label>
        <input type="radio" name="occasion1" id="wedding" value="wedding"><br>
        <label for="message">Your message:</label><br>
        <textarea type="text" id="message" name="message"></textarea><br>
        <input type="submit" value="SUBMIT" id="submitForm">

    </form>

    <div class="card-section">
        <h1 class="greeting-h1"></h1>
        <h3 class="event-name"></h3>
        <p class="message-paragraph"></p>
    </div>
    <script src="./app.js">    </script>
</body>
</html>