<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h3>This is your invitation:</h3>

    <div id="card-section">
        <p id="p-greeting">Greeting</p>
        <p id="p-occasion">Occasion</p>
        <p id="p-message">Message</p>
        <h3 class="message_sent">Thank You! Your Message Has Been Sent!</h3>
    </div>
    <script src="javascripts\receiver.js">    </script>
</body>
</html>
